.container
  .list-group
    - @products.each do |product|
      .list-group-item
        %a{href: "/products/#{product.id}"}
          %h4.list-group-item-heading
            = product.title
        %p.list-group-item-text
          = product.description
        %p.list-group-item-text
          = product.price
        %a{href: "/products/#{product.id}/promotions/new"}Add promotion

