.container
  %table.table.mt-3em.products_table
    %thead
      %tr
        %th Title
        %th Description
        %th Price
        %th Actions
    %tbody
      - @products.each do |product|
        %tr
          %td
            %a.a1{href: "/products/#{product.id}"}
              %h4.list-group-item-heading
                = product.title
          %td
            = product.description
          %td
            = product.price
          %td
            %a.btn.btn-primary{href: "/products/#{product.id}/promotions/new"}+ Add promotion

