%h2 New Promotion
%form{action: "/products/#{@product.id}/promotions", method: 'post'}
  Title:
  %br
  %input{:name => "promotion[title]", :type => "text", :value => "#{@promotion.title}"}
  %br
  Promotion Type:
  %br
  %select#promotion_type{:name => "promotion[promotion_type]"}
    %option{:value => 1} Single
    %option{:value => 2} Multiple
  %br
  %span.single_discount_wrapper
    Discount Type:
    %br
    %select{:name => "promotion[discount_type]"}
      %option{:value => 1} Percentage
      %option{:value => 2} Amount
    %br
    Discount:
    %br
    %input{:name => "promotion[discount]", :type => "number", :step => "0.01", :value => "#{@promotion.discount}"}
    %br
  %span.multiple_discount_wrapper.hidden
    Minimum items:
    %br
    %input{:name => "promotion[multiple_min_items]", :type => "number", :step => "1", :value => "#{@promotion.multiple_min_items}"}
    %br
    Per item price:
    %br
    %input{:name => "promotion[multiple_item_price]", :type => "number", :step => "0.01", :value => "#{@promotion.multiple_item_price}"}
    %br
  %input.hidden{:name => "promotion[product_id]", :type => "number", :value => "#{@product.id}"}
  %br
  %input{:type => "submit", :value => "Submit"}
